@import './variables.css';

/* globals.css - Base Resets & Global Utility */

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: var(--color-bg);
    color: var(--color-text-main);
    font-family: var(--font-main);
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--color-bg);
}

::-webkit-scrollbar-thumb {
    background: var(--color-surface);
    border: 2px solid var(--color-bg);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary);
}